@import "tailwindcss";

@theme {
	/* Colors */
	--color-gray-50: oklch(0.97 0.004 240);
	--color-gray-100: oklch(0.93 0.008 240);
	--color-gray-200: oklch(0.87 0.012 240);
	--color-gray-300: oklch(0.78 0.016 240);
	--color-gray-400: oklch(0.7 0.02 240);
	--color-gray-500: oklch(0.62 0.024 240);
	--color-gray-600: oklch(0.53 0.03 240);
	--color-gray-700: oklch(0.44 0.034 240);
	--color-gray-800: oklch(0.35 0.034 240);
	--color-gray-900: oklch(0.27 0.03 240);
	--color-gray-950: oklch(0.2 0.026 240);

	--color-primary-50: oklch(0.946 0.029 191);
	--color-primary-100: oklch(0.902 0.05 191);
	--color-primary-200: oklch(0.82 0.078 191);
	--color-primary-300: oklch(0.74 0.104 191);
	--color-primary-400: oklch(0.64 0.118 191);
	--color-primary-500: oklch(0.56 0.115 191);
	--color-primary-600: oklch(0.49 0.105 191);
	--color-primary-700: oklch(0.42 0.095 191);
	--color-primary-800: oklch(0.36 0.085 191);
	--color-primary-900: oklch(0.31 0.075 191);
	--color-primary-950: oklch(0.25 0.065 191);

	--font-sans: "Manrope", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@layer base {
	html {
		scroll-behavior: smooth;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	
	body {
		@apply font-sans;
	}
}
